* {
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* common */
:root{
    --primary-color:rgba(46, 128, 206, 1);
    --header-bg:rgba(16, 55, 92, 1)
}
.container{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
.btn{
    display: inline-block;
    min-width: 205px;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 30px;
    text-align: center;
    font-weight: 400;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 1);
}
.btn:hover{
    opacity: 0.9;
    cursor: pointer;
}
.section-heading{
    font-weight: 600;
    font-size: 5rem;
    line-height: 6rem;
    letter-spacing: -0.02;
    color: rgba(16, 55, 92, 1);
}
.section-desc{
    width: 40%;
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(87, 95, 102, 1);
}
/* header */
.header{
    background-color: var(--header-bg);
    min-height: 100vh;
    padding-top: 30px;
}
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}
.logo__circle::before,
.logo__circle::after{
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo__circle::before{
    width: 3em;
    height: 3em;
    background-color: rgba(46, 128, 206, 1);
}
.logo__circle::after{
    position: absolute;
    left: 1.1em;
    top: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: rgba(255, 255, 255, 1);
}
.logo__text{
    text-align: right;
    margin-left: 0.6em;
    line-height: 1.6em;
}
.logo__brand{
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}
.logo__brand--small{
    font-size: 1.2em;
    font-weight: 300;
}
/* navbar */
.navbar__list{
    display: flex;
}
.header-action__login,
.navbar__link{
    font-weight: 300;
    font-size: 1.6rem;
    color: rgba(201, 210, 218, 1);
    padding: 4px 21px;
}
.navbar__link:hover,
.navbar__link--active{
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before{
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
}
.header .hearder-action{
    display: flex;
    align-items: center;
}
.header-action__login{
    margin-right: 7px;
}
.header-action__signup{
    min-width: 104px;
    height: 44px;
    line-height: 44px;
    font-size: 1.6rem;
}
/* Hero */
.header .hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}
.hero__content{
    width: 45%;
    flex-shrink: 0;
}
.hero__media{
    flex-grow: 1;
}
.hero__heading{
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02;
    color: rgba(255, 255, 255, 1);
}
.hero__desc{
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 3rem;
    color: rgba(201, 210, 218, 1);
}
.hero__row{
    display: flex;
    align-items: center;
    margin-top: 38px;
}
.hero__phone{
    font-weight: 400;
    font-size: 1.8rem;
    margin-left: 38px;
    color: rgba(255, 255, 255, 1);
}
.hero__images{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img{
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}
.hero__img:first-child{
    position: relative;
    margin-right: -6px;
}
.hero__img:last-child{
    width: 210px;
    height: 410px;
}
/* service */
.service{
    padding: 170px 0;
}
.service__heading,
.service__desc{
    text-align: center;
}
.service__desc{
    margin-left: auto;
    margin-right: auto;
}
.service__row{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service__img{
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}
.service__list{
    margin-bottom: 55px;
}
.service-item{
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #fff;
    transition: 0.25s;
}
.service-item:hover{
    position: relative;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon{
    background-color: rgba(46, 128, 206, 1);
    color: rgba(255, 255, 255, 1);
}
.service-item__icon{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
    background-color: rgba(239, 246, 253, 1);
    color: rgba(16, 55, 92, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s;
}
.service-item__body{
    margin-left: 19px;
}
.service-item__heading{
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: rgba(16, 55, 92, 1);
}
.service-item__desc{
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: rgba(87, 95, 102, 1);
}
/* work */
.work{
    padding: 100px 0;
    background-color: rgba(246, 251, 255, 1);
}
.work__list{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 30px;
    margin-top: 70px;
}
.work-item{
    border: 16px solid rgba(234, 246, 255, 1);
    border-radius: 4px;
    padding: 43px 42px;
    transition: 0.25s;
}
.work-item:hover{
    transform: translateY(-16px);
    border-color: rgba(46, 128, 206, 1);
}
.work-item__heading{
    margin-top: 18px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: rgba(16, 55, 92, 1);
}
.work-item__desc{
    margin-top: 28px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: rgba(87, 95, 102, 1);
}
.work-item__more{
    display: inline-block;
    margin-top: 18px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: rgba(46, 128, 206, 1);
}
.feature{
    margin-top: 85px;
    padding: 85px 0;
}
.feature__inner{
    display: flex;
    column-gap: 130px;
    align-items: center;
}
.feature__media{
    width: 48%;
}
.feature__images{
    position: relative;
    padding:0 58px 121px 0;
}
.feature__img{
    width: 512px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
}
.feature__img:last-child{
    position: absolute;
    width: 332px;
    height: 370px;
    bottom: 0;
    right: 0;
}
.section-desc{
    width: 100%;
}
.feature__cta{
    margin-top: 38px;
}